.BookGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* always 4 columns */
}

.BookContainer{
  padding: 5rem;
  margin-left: 4rem;
}

@media (min-width: 300px) and (max-width: 700px){

}

@media(min-width: 701px) and (max-width: 1024px){
  
}
