.Container {
  padding: 0;
}

.Container h2{
    padding: 0.5rem 1rem 1rem 1rem;
    font-size: 2rem;
    margin: 0;
    text-align: left;
    margin-left: 2rem;
}



.SectionTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #1b1b5e;
  margin-bottom: 15px;
}

.BookGrid {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.BookGrid::-webkit-scrollbar {
  height: 6px;
}

.BookGrid::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.BookCard {
  flex: 0 0 auto;
  width: 17.4rem;
  margin-left: 3rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.BookCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.BookImage {
  display: block;
  width: 100%;    
  height: 24.7rem;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.BookInfo {
  margin-top: 8px;
}

.BookInfo p{
    color: black;
    text-align: left;
    padding: 0;
    font-size: 1rem;
}

.BookInfo h3{
    color: black;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.BookTitle {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  color: #222;
  line-height: 1.2;
}

.BookAuthor {
  font-size: 0.8rem;
  color: #666;
  margin-top: 2px;
}

.Error {
  font-size: 0.9rem;
  margin-top: 10px;
}

.MySwiper{
    padding: 0 !important;
    margin: 0 !important;
}

.SmallBook{
    width: 10.4rem;
    height: 16.7rem;
}

@media (min-width: 300px) and (max-width: 700px) {
  
  .Container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
  }

  .Container h2 {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 1rem 0;
    color: #101540;
    margin: 0;
    padding: 1;
  }

  .Container p{
    display: none;
  }

  .MySwiper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* Centers 2 slides visually in the middle */
  .swiper-wrapper {
    justify-content: center !important;
  }

  .BookCard {
    flex: 0 0 auto;
    width: 42vw;              
    margin: 0 1vw;            
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .BookImage {
    width: 9rem;
    height: auto;
    aspect-ratio: 3 / 4.3;   
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }

  .BookInfo {
    margin-top: 0.5rem;
    text-align: center;
  }

  .BookInfo h3 {
    font-size: 1rem;
    margin: 0;
    color: #101010;
  }

  .BookInfo p {
    font-size: 0.85rem;
    color: #666;
    margin: 0.25rem 0 0 0;
  }

  .BookGrid::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1024px){
  

  

  
  
}
