.SearchButton,
.RandomButton{

  height: 3.5rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  margin-right: 1.5rem;
  border-style: solid;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.SearchButton{
  color: white;
  background-color: #101540;
  border-color: #101540;
  cursor: pointer;
}

.SearchButton:Active{
  background-color: red;
}

.RandomButton{
  color: #101540;
  background-color: #D7D7D7;
  border-color: #D7D7D7;
}

.ArrowButton{
  border-radius: 2rem ;
  padding: 1rem 1rem;
  border-style: solid;
  color: #101540;
  border-color: #101540;
}

.ArrowButton:hover{
  background-color: #101540;
  color: white;
  transition: 0.8s;
  cursor: pointer;
}

.arrowButton{
  background-color: #101540; 
  border-radius: 2rem;
  border-style: none;
  margin-top: 0.5rem;
  display: fixed;
  color:white;
}

.Sample{
  width: 100%;
  height: 5vh;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
}

.Sample:hover{
  width: 100%;
  height: 5vh;
  margin-bottom: 0.5rem;
  background-color: white;
  color: #101540;
  border-style: solid;
  border-color: white;
  transition: 0.5s;
}

.LogoutButton {
  font-weight: bold;
  border: 2px solid #101540;
  border-radius: 20px;
  background: white;
  color: #101540;
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin-top: 35vh;
}

.BorrowedBooks,
.ReturnedBooks {
  border: none;
  padding: 0.5rem 4rem;
  background-color: #9c9393;
  color: #101540;
}

.BorrowedBooks:hover,
.ReturnedBooks:hover{
  cursor: pointer;
}

.BorrowedBooks:active,
.ReturnedBooks:active{
  background-color:#101540;
  color: white;
} 

.BorrowedBooks {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 1rem;
}

.ReturnedBooks {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}