body, html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
.SearchBar input{
  margin: 0;
}

.SearchBar{
  
  display: flex;
  margin: 0;
}



.HeaderNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  border-bottom: 5px solid #101540;
}

.ManilaAboveHeader {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  color: #101540;
  line-height: 3rem;
  text-align: left;
}

.LibraryAboveHeader {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: #101540;
  line-height: 1.5rem;
  text-align: left;
}

.LogoGroup {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-left: 2rem;
}

.SearchWrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  z-index: 20;

  transition: transform 0.8s ease, top 0.8s ease, right 0.8s ease;
}




.SearchContainer {
  padding-top: 30vh;
  margin: 0;
  width: 40%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  position: relative;
  z-index: 9999;
  
  transition: all 0.8s ease;
}



.SearchContainer.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  height: 5vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35vw;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: all 0.8s ease;
   z-index: 9999;
}

.SearchContainer.active input {
  width: 40%;
  transition: width 0.6s ease;
}

.ButtonContainer {
  padding-top: 2.5vh;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: opacity 0.6s ease;
}

.SearchContainer.arrowActive .ButtonContainer {
  opacity: 0;
  pointer-events: none;
}


.NextPage {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
}

.ParallaxPage {
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
}
.ParallaxPage::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.SearchContainer.arrowActive .HeaderContainer {
  transform: translate(-38vw, -38vh);

}

.SearchContainer.arrowActive .SearchWrapper {
  transform: translate(30vw, -44vh); 
}

.Container.Active{
  background-color: white;
}

.FirstLayerBook{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem ;
  margin-top: 1rem;
}

.JohnreyContainer{
  margin-top: 15vh;
}

.NavBar{
  background-color: white;
  margin: 0;
  width: 100vw;
}

.InfoIcon{
  font-size: 1.5rem;
}

@media (min-width: 300px) and (max-width: 700px) {
  
  
  
  .NavBar {
  display: flex;
  justify-content: center;   
  align-items: center;
  width: 100%;               
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeaderNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;               
  
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}


  .InfoIcon{
    font-size: 2rem;
  }

  .LogoGroup {
    align-items: center;
    margin: 0;
    padding-left: 1rem;
  }

  .ManilaAboveHeader {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    
    text-align: center;
  }

  .LibraryAboveHeader {
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
  }

  .SearchBar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-right: 1rem;
    
  }

  .SearchBar button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
  }

  .BookContainer {
    width: 95%;
    margin-top: 2rem;
  }

  .RenderComponents {
    width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .NavBar {
    height: 5rem;
  }
  
  .InfoIcon{
   font-size: 5rem; 
  }

  .HeaderNavBar {
    width: 100%;
    height: 5rem;
  }

  .ManilaAboveHeader {
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
  }

  .LibraryAboveHeader {
    font-size: 1.8rem;
  }

  .SearchBar {
    gap: 0.8rem;
  }

  .SearchBar button {
    padding: 0.6rem 1.2rem;
    font-size: 0.95rem;
  }

  .BookContainer {
    width: 90%;
    margin-top: 2.5rem;
  }

  .RenderComponents {
    width: 100%;
  }
}



