.NotFoundBackground{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../Logo/MCL_ERROR_OPAC.png');
}

.UnderlineGroup{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid #000; 
  padding-bottom: 3px;           
}

.CenteredButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 350px;
}

