.MainDiv{
    
}

.FormResult{
    background-color: red;
}

.SearchFunction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding: 0 15vw 0 17.3vw;
    margin-top: 1rem;
}

.FormAuthor input{
    max-height: 3rem;
    max-width: 55vw;   
    border-color: #101540;
}

.FormAuthor select{
    width: 12rem;
    height: 2.8rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #101540;
    color: white;
}

.FormDate input{
    width: 10rem;
}

.DateInput{
    display: flex;
}

.FilterFunction{
    gap: 0.5rem;
    display: flex;
}

.FilterFunction select{
    border-radius: 8px;
    background-color: #D9D9D9;
    color: grey;
}

.FilterFunction button{
    color: #101540;
    border-radius: 8px;
    border: none;
    text-decoration: underline;
    margin-top: 1rem;
    font-weight: bold;
    text-underline-offset: 5px;
    cursor: pointer;
    
}

.FormDate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    border: 1px solid grey;
    margin-top: 2rem;
    border-radius: 8px;
}

.FormDate select{
    justify-self: center;
    width: 13vw;
    height: 5vh;
}

.FormDateContainer{
    padding: 0 20vw 0 20vw;
}

.MagnifyingIcon{
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.NoBookFound{
    margin-top: 5rem;
}

.NoBookFound h1{
    font-size: 2.5rem;
    margin-top: 1rem;
}

.NoBookFound h2{
    font-size: 1.5rem;
    color: #727374;
    justify-content: center;
    text-align: center;
}
