.ResultList {
  position: absolute;   /* 🔥 take it out of the normal flow */
  top: 100%;            /* appear right under the search bar */
  left: 0;
  right: 0;

  width: 36.5vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;

  margin-top: 0.5rem;   /* small spacing below search bar */
  max-height: 300px;
  overflow-y: auto;
  z-index: 9999;        /* stay on top */
}

.ResultList::-webkit-scrollbar-button {
  display: none;
}
