.BarChart{
    width: 25rem;
    height: 20rem;
    background-color: #11151A;
    margin-left: 5rem;
    border-radius: 2rem;
    border-color: #E8E8E8;
    border-style: solid;
    border-width: 1px;    margin-top: 3rem;
    color: white;
}
.BarChartDesign{
    margin-left: -2rem;
    margin-top: 2rem;
}
