.MainBox{
    padding: 1rem;
    
}

.filterBox{
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
    border-radius: 0.75rem;
    align-items: center;
    justify-content: center;
}

.buttons{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.buttons button{
    width: 5rem;
    height: 1.5rem;
    border-radius: 16px;
    border: none;
    color: white;
    background-color: #101540;
}

.buttons button:hover{
    background-color: #0069d9;
    transform: scale(1.03)
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.field input{
    width: 15rem;
    height: 2rem;
    border-radius: 16px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.field select{
    width: 15rem;
    height: 2rem;
    border-radius: 16px;
    border-style: solid;
}

.field label{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}