.ButtonSignIn,
.NfcSignIn,
.ButtonSignUp,
.ButtonReset,
.NfcButtonSignIn,
.ButtonSignUpBlue,
.NfcSignUp,
.ButtonVerify,
.ButtonSignUpForm,
.ButtonForm,
.ButtonServices,
.ButtonSubmit{
  width: 100%;
  max-width: 25.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
}

.PreviousTableButton,
.NextTableButton{
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 2px;
  text-align: center;
  justify-content: center;
  display: flex;
  border: none;
  cursor: pointer;
}

.extraBtn {
  display: none;
}

.ButtonUserPage{
  margin-top: 0.5rem;
  color: white;
  background-color: #101540;
  border-style: none;
  width: 25.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .extraBtn {
  display: inline-block; 
  width: 100%;
  max-width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: #101540;
  border-color: #101540;
  color: white;
  }

  .ButtonUserPage{
    width: 100%;
    max-width: 100%;
  }
}

.ButtonSubmit {
  background-color: #101540;
  border-color: #101540;
  color: white;
  margin-left: 40vw;
}

.ButtonServices{
  
  width: 25.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 2px;
  cursor: pointer;
  border-color: rgb(255, 255, 255);
  background-color: transparent;
  color: white;

}



.ButtonUserPage:hover{
  border-color: #101540;
  border-style: solid;
  background-color: lightblue;
  color: #101540;
  transition: 0.8s;
}

.ButtonVerify {
  margin-top: 2rem;
}

.ButtonSignIn:hover,
.ButtonReset:hover,
.NfcSignUp:hover,
.ButtonSignUpForm:hover,
.UpdateProfileButton:hover,
.ConfirmPassButton{
  cursor: pointer;
  background-color: rgba(104, 104, 104, 0.568);
  color: white;
  transition: 0.9s;
}


.ButtonSignUp:hover,
.ButtonForm:hover{
  background-color: white;
  transition: 0.9s;
  color: #101540;
}

.NfcButtonSignIn:hover{
  cursor: pointer;
  background-color: white;
  border-style: solid;
  transition: 0.8s;
  color: #101540;
}

.NfcSignIn:hover {
  background-color: #222D8A;
  cursor: pointer;
  border-style: solid;
  border-color: #222D8A;
  color: white;
}

.ButtonSignIn,
.ButtonVerify,
.ButtonSignUpForm,
.ButtonReset,
.ButtonSubmit {
  background-color: #101540;
  border-color: #101540;
  color: white;
}

.ButtonSignUp,
.NfcButtonSignIn,
.ButtonForm {
  background-color: transparent;
  border-color: white;
  color: white;
}

.NfcSignIn {
  background-color: #222D8A;
  border-color: #222D8A;
  color: white;
}

.ButtonReset {
  max-width: 29.75rem;
}

.NfcSignUp {
  background-color: transparent;
  border-color: #101540;
  color: #101540;
  margin-top: 2rem;
}

/* .ButtonForm {
  background-color: transparent;
  border-style: solid;
  color: white;
  font-size: 1.4rem;
  padding: 1rem 5rem;
  border-radius: 1rem;
  border: 2px solid white;
  box-sizing: border-box;
  width: 100%;
  max-width: 15.75rem;
  margin-top: 2rem;
}
 */

 .ButtonSignInMobile,
 .NfcSignInMobile{
  display: none;
 }

.BackButton,
.BackButtonOtp,
.LogoutButton,
.LogoutUser {
  font-weight: bold;
  border: 2px solid #101540;
  border-radius: 20px;
  background: white;
  color: #101540;
  cursor: pointer;
  padding: 0.4rem 1rem;
}

.BackButton{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.BackButtonOtp{
  top: 1.5rem;
  left: 1.5rem;
  position: absolute;
}

.LogoutButton {
  display: flex;
  align-items: center;
  width: 6rem;
  margin-left: 0.5rem;
}

.BackButton:hover,
.BackButtonOtp:hover {
  background-color: #101540;
  color: white;
  transition: 0.8s;
}

.BorrowedBooks,
.ReturnedBooks,
.Books{
  border: none;
  padding: 0.5rem 4rem;
  background-color: #E3E3E3;
  border: 1px solid rgba(0, 0, 0, 0.349);
  color: #101540;
  cursor: pointer;
}

.BorrowedBooks:hover,
.ReturnedBooks:hover,
.Books:hover{
  background-color:#101540;
  color: white;
  transition: 0.4s;
}

.Books{
  margin-right: 1rem;
}

.BorrowedBooks.active,
.ReturnedBooks.active,
.Books.active{
  background-color:#101540;
  color: white;
} 

.BorrowedBooks {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 1rem;
}

.ReturnedBooks {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.Acquire{
 border-radius: 0.5rem;
 Background-color: #101540;
 border-style: none;
 font-size: 1rem;
 color: white;
 padding: 0.5rem 4rem;
 margin-right: 2rem;
 margin-left: 5vw;
}

/* The buttons for adminpage sidebar */
.Sample,
.BurgerIcon{
  width: 100%;
  height: 5vh;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
  align-items: center; /* vertically center icon and text */
  gap: 0.5rem;        /* space between icon and text */
  justify-content: flex-start; /* keep text aligned to left */
  padding: 0.5rem 1rem;
  display: flex;
}

.BurgerIcon{
  display: none;
}

.EDAButton{
  border: none;
  color: #101540;
  cursor: pointer;
}

.DeleteButton{
  color: red;
  border: none;
  cursor: pointer;
}

.DeleteUser,
.RegisterUser{
  border: none;
}

.RegisterUser{
  color: #101540;
}
.DeleteUser{
  color: red;
}

.EDAButton:disabled {
  opacity: 0.3;       /* visually greyed out */
  cursor: not-allowed;
}

.CloseForm,
.SaveForm{
  width: 18rem;
  height: 4rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  color: white;
  background-color: #101540;
  border: none;
  cursor: pointer;
}

.Sample:hover{
  width: 100%;
  height: 5vh;
  margin-bottom: 0.5rem;
  background-color: white;
  color: #101540;
  border-style: solid;
  border-color: white;
  transition: 0.5s;
}

.Sample.active{
  background-color: white;
  color: #101540;
}

.UpdateProfileButton,
.ConfirmPassButton{
  width: 100%;
  max-width: 20.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
   Background-color: #101540;
   color: white;
   border-style: none;
}



/* Everything below is buttons for the sidebar */

@media (max-width: 1080){
    .ButtonSubmit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
  .ButtonServices {
    margin-bottom: 6rem;
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media(max-width: 800px){
  .ButtonReset{
  width: 80%;
  max-width: 25.75rem;
  height: 4rem;
  font-size: 3vw;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  }


 .ButtonUserPage{
    width: 100%;
    max-width: 100%;
  }

  .ButtonSubmit{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-right: 40vw;
  }

  
   .ButtonServices {
    margin-bottom: 8rem;
    flex-direction: row;
    gap: 2rem;

    
  }

    .extraBtn {
  display: inline-block; 
  width: 100%;
  max-width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  background-color: #101540;
  border-color: #101540;
  color: white;
  }
  
  /* .ButtonSignIn 
  {
    position: flex;
    background-color: #101540;
    border-color: #101540;
    max-width: 60%;
    font-size: 0.95rem;
    padding: 0.4rem 0.75rem;
    top: 0;
    bottom: 100; 
    margin-bottom:0;
  } */

.ButtonSignUpForm{
    background-color: #101540;
    border-color: #101540;
    max-width: 200vw;
    font-size: 0.95rem;
    margin-left: 0rem;
    margin-bottom: 16vw;
    
}

    .ButtonSignUp{
    background-color: #101540;
    border-color: #101540;
    max-width: 95vw;
    font-size: 0.95rem;
    padding: 0;
    margin-left: 0rem;
    margin-bottom: 16vw;
    
  }

  .ButtonSignUp{
  background-color: transparent;
  border-color: #101540;
  color: #101540;
  }

    .BurgerIcon{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  
}
  .Sample{
    justify-content: center;
    margin: 0;
  }

  .Sample span{
    display: none;
  }
  .ButtonReset{
  width: 100%;
  max-width: 29.75rem;
  height: 4rem;
  font-size: 3vw;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  }

}

@media (max-width: 768px) {
  .ButtonReset{
  width: 100%;
  max-width: 29.75rem;
  height: 4rem;
  font-size: 3vw;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  }
}

@media(max-width: 600px){
  .NfcSignIn{
    margin-top: 1rem;
  }

   .ButtonSignIn 
  {
    background-color: #101540;
    border-color: #101540;
    max-width: 100%;
    width: 100%;
    
  }

  .ButtonReset{
  width: 100%;
  max-width: 29.75rem;
  height: 4rem;
  font-size: 3vw;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  }


}

@media (max-width: 480px) {
   .ButtonSubmit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  }

  .ButtonUserPage{
    width: 100%;
    max-width: 100%;
  }

  .ButtonSignUp{
    background-color: #ffffffff;
    border-color: #101540;
    max-width: 95%;
    font-size: 0.95rem;
    padding: 0;
    margin-left: 0rem; 
  }


  .BurgerIcon{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  
}
  .NfcSignIn {
  display: none;
  }

  .Sample{
    justify-content: center;
    margin: 0;
  }

  .Sample span{
    display: none;
  }

  .ButtonReset{
  width: 100%;
  max-width: 28.75rem;
  height: 4rem;
  font-size: 3vw;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  }

  .ButtonSignIn 
  {
    position: flex;
    background-color: #101540;
    border-color: #101540;
    max-width: 60%;
    font-size: 0.95rem;
    padding: 0.4rem 0.75rem;
    top: 0;
    bottom: 100; 
    margin-bottom:0;
  }


  .ButtonServices{
    position: flex;
    margin-bottom: 12rem;
  }

    .ButtonServices {
    margin-bottom: 12rem;
    flex-direction: column;
    gap: 1rem;
  }
  .ButtonSignUp{
  background-color:#101540;
  border-color:#101540;
  
  width: 15.5rem;
  color: #101540;
  }

  .ButtonSignIn 
  {
    background-color: #101540;
    border-color: #101540;
    max-width: 65%;
    width: 100%;
    font-size: 0.95rem;
    padding: 0.4rem 0.75rem;
  }

  .ButtonSignInMobile,
 .NfcSignInMobile{
  display: flex;
  max-width: 90%;
  width: 100%;
  padding: 0.4rem 0.75rem;
  border-style: solid;
  
  cursor: pointer;

  color: white;
  height: 3.5rem;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
 }

 .ButtonSignInMobile{
  background-color: #101540;
  border-color: #101540;
 }

 .NfcSignInMobile{
  background-color: #222D8A;
  border-color: #222D8A;
 }

 .BackButton{
  z-index: 9999;
 }

  .BorrowedBooks,
  .ReturnedBooks {
  min-width: 6rem;    
  padding: 0.5rem 1rem; 
  font-size: 0.75rem;   
  white-space: nowrap;  
  text-align: center;   
  display: inline-block;
}

}

