.ButtonSignIn,
.NfcSignIn,
.ButtonSignUp,
.ButtonReset,
.NfcButtonSignIn,
.ButtonSignUpBlue,
.NfcSignUp,
.ButtonVerify,
.ButtonSignUpForm,
.ButtonForm,
.ButtonServices{
  width: 100%;
  max-width: 25.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
}

.ButtonServices{
  
  width: 25.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  border-color: white;
  background-color: transparent;
  color: white;

}

.ButtonUserPage{
  margin-top: 2vh;
  color: white;
  background-color: #101540;
  border-style: none;
  width: 25.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
}

.ButtonUserPage:hover{
  border-color: #101540;
  border-style: solid;
  background-color: lightblue;
  color: #101540;
  transition: 0.8s;
}

.ButtonVerify {
  margin-top: 2rem;
}

.ButtonSignIn:hover,
.ButtonReset:hover,
.NfcSignUp:hover,
.ButtonSignUpForm:hover,
.UpdateProfileButton:hover{
  cursor: pointer;
  background-color: lightblue;
  color: white;
  transition: 0.9s;
}


.ButtonSignUp:hover,
.ButtonForm:hover{
  background-color: white;
  transition: 0.9s;
  color: #101540;
}

.NfcButtonSignIn:hover{
  cursor: pointer;
  background-color: white;
  border-style: solid;
  transition: 0.8s;
  color: #101540;
}

.NfcSignIn:hover {
  background-color: #222D8A;
  cursor: pointer;
  border-style: solid;
  border-color: #222D8A;
  color: white;
}

.ButtonSignIn,
.ButtonVerify,
.ButtonSignUpForm,
.ButtonReset {
  background-color: #101540;
  border-color: #101540;
  color: white;
}

.ButtonSignUp,
.NfcButtonSignIn,
.ButtonForm {
  background-color: transparent;
  border-color: white;
  color: white;
}

.NfcSignIn {
  background-color: #222D8A;
  border-color: #222D8A;
  color: white;
}

.ButtonReset {
  max-width: 27.75rem;
}

.NfcSignUp {
  background-color: transparent;
  border-color: #101540;
  color: #101540;
  margin-top: 2rem;
}

@media (max-width: 480px) {
  .ButtonSignIn {
    max-width: 90%;
    font-size: 0.95rem;
    padding: 0.4rem 0.75rem;
  }
}

/* .ButtonForm {
  background-color: transparent;
  border-style: solid;
  color: white;
  font-size: 1.4rem;
  padding: 1rem 5rem;
  border-radius: 1rem;
  border: 2px solid white;
  box-sizing: border-box;
  width: 100%;
  max-width: 15.75rem;
  margin-top: 2rem;
}
 */
.BackButton,
.LogoutButton {
  font-weight: bold;
  border: 2px solid #101540;
  border-radius: 20px;
  background: white;
  color: #101540;
  cursor: pointer;
  padding: 0.4rem 1rem;
}

.BackButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.LogoutButton {
  display: flex;
  align-items: center;
  width: 6rem;
  margin-left: 0.5rem;
  margin-top: 50vh;
}

.BackButton:hover {
  background-color: #101540;
  color: white;
  transition: 0.8s;
}

.BorrowedBooks,
.ReturnedBooks {
  border: none;
  padding: 0.5rem 4rem;
  background-color: #9c9393;
  color: #101540;
}

.BorrowedBooks:hover,
.ReturnedBooks:hover{
  cursor: pointer;
}

.BorrowedBooks:active,
.ReturnedBooks:active{
  background-color:#101540;
  color: white;
} 

.BorrowedBooks {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 1rem;
}

.ReturnedBooks {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.Acquire{
 border-radius: 0.5rem;
 Background-color: #101540;
 border-style: none;
 font-size: 1rem;
 color: white;
 padding: 0.5rem 4rem;
 margin-right: 2rem;
 margin-left: 5vw;
}

.UpdateProfileButton{
  width: 100%;
  max-width: 20.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
   Background-color: #101540;
   color: white;
   border-style: none;
}



