.legend-container {
  display: flex;
  justify-content: center;   
  margin-top: 3rem;          
}

.legend-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;                  
  font-size: 1.2rem;         
}

.legend-row {
  display: flex;
  align-items: center;        
  gap: 8px;                   
}
