.UploadButton{
    background-color: transparent;
    width: 80%;
    height: 2.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #101540;
    cursor: pointer;
}

.custominput{
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.InputButtonContainer{
  width: 80%;
  display: grid;
  grid-template-columns: auto auto; 
  gap: 1rem; 
  align-items: center; 
  margin-left: 2rem;

}

.UploadImage{
  width: 100% !important;
  height: 50% !important;
  border: none !important;
}



input[type="file"] {
    display: none;
}

/* Hide the file name button in Firefox */
.UploadImage::file-name {
    display: none;
}

.ImageContainer{
    width: 10vw;
    height: 20vh;
    border-radius: 10rem;
    display: flex;
    justify-self: center;
    margin-top: 1rem;
}

img{
    justify-content: center;
}

.UploadedImage{
   width: 100%;
   height: 100%;
   border-radius: 10rem;

}

.ProfileContainer{
    background-color: transparent;
    width: 15vw;
    height: 26vh;
    border-color: #101540;
    border-style: solid;
    border-radius: 1rem;
}

@media (min-width: 820px) and (max-width: 1024px) {
  
    .ProfileContainer{
        width: 13rem;
        padding-bottom: 1rem;
        justify-self: left;
        background-color: red;
    }

}


@media (min-width: 480px) and (max-width: 600px){
 
    .ProfileContainer{
        width: 13rem;
        padding-bottom: 1rem;
        justify-self: left;
        background-color: red;
    }

    .ImageContainer{
        background-color: red;
        width: 80%;
        height: 20vh;
        border-radius: 8rem;
        margin-bottom: 0.5rem;
    }

    .InputButtonContainer{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .UploadButton{
    
         width: 100%
    }
 
}

@media (min-width: 360px) and (max-width: 480px){
 
    .ProfileContainer{
        width: 13rem;
        padding-bottom: 1rem;
        justify-self: left;
      
    }

    .ImageContainer{
     
        width: 80%;
        height: 20vh;
        border-radius: 8rem;
        margin-bottom: 0.5rem;
    }

    .InputButtonContainer{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .UploadButton{
    
         width: 100%
    }
 
}