.card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  width: fit-content;
  color: #101540;
}

.iconContainer{
  background: #d4d0d0;
  padding: 10px;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
}

.iconWrapper {
  background: black;
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 3.2rem;
  color: white;
  padding: 0.1rem;
}

.header {
  font-weight: bold;
  font-size: 3rem;
  margin: 0; 
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-left: 0.8rem;
}

/* Tablets (720px and below) */
@media (max-width: 720px) {

  .header {

    flex-direction: column;
    font-size: 2rem;
    margin-left: 0.5rem;
    align-items: flex-start;
  }
 .cardWrapper {
    flex-direction: column;
    align-items: center;
  }
  .card{
    
    display: block;
    width: 90%; /* or 100% if you want full width */
    max-width: 100vw;
    flex: column;
  }
  .iconContainer{

  }
}

