.card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  width: auto;
  color: #101540;
  border-left: 2px solid black;
  border-radius: 0px;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #77798a75;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.iconContainer {
  background: #d4d0d0;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
}

.iconWrapper {
  background: black;
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 3.2rem;
  color: white;
  padding: 0.1rem;
}

.header {
  font-weight: bold;
  font-size: 3rem;
  margin: 0; 
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-left: 0.8rem;
}


@media (min-width: 300px) and (max-width: 700px) {
  .card {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: flex-start;
    width: 90%;                  
    max-width: 100%;              
    margin: 0 auto;             
    padding: 0;
    padding: 1rem;
    border: 2px solid #101540;
    border-radius: 0.5rem;
    gap: 1rem;
  }

  .iconContainer {
    width: 50px;
    height: 50px;
    padding: 1rem;
  }

  .icon {
    font-size: 2rem;
  }

  .header {
    font-size: 1.4rem;
    text-align: left;
  }
}


@media (min-width: 701px) and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: flex-start;
    width: 90%;        
    height: 8rem;          
    max-width: 100%;              
    margin: 0 auto;             
    padding: 0;
    padding: 1rem;
    border: 2px solid #101540;
    border-radius: 0.5rem;
    gap: 1rem;
  }

  .iconContainer {
    width: 100px;
    height: 100px;
    padding: 1rem;
  }

  .icon {
    font-size: 2rem;
  }

  .header {
    font-size: 3rem;
    text-align: left;
  }
}
