


.card {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  width: auto;
  color: #101540;
  border-left: 2px solid black;
  border-radius: 0px;
}

.card:hover{
  background-color: #77798a75;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.iconContainer{
  background: #d4d0d0;
  padding: 10px;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
}

.iconWrapper {
  background: black;
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 3.2rem;
  color: white;
  padding: 0.1rem;
}

.header {
  font-weight: bold;
  font-size: 3rem;
  margin: 0; 
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-left: 0.8rem;
}


/* Tablets (720px and below) */
@media (max-width: 768px) {

  .header {

    flex-direction: column;
    font-size: 2rem;
    margin-left: 0.5rem;
    align-items: flex-start;
  }
 .cardWrapper {
    flex-direction: column;
    align-items: center;
  }
  .card{
    
    display: block;
    width: 90%; /* or 100% if you want full width */
    max-width: 100vw;
    flex: column;
  }
  .iconContainer{

  }
}

@media (min-width: 300px) and (max-width: 800px) {
  .card {
    display: flex;
    flex-direction: column;       
    align-items: center;
    justify-content: center;
    width: 100%;                   
    max-width: 100px;              
    height: auto;
    padding: 1rem 2rem 2rem 2rem;
    margin: 0 auto;
    border-radius: 0.50rem;
    border: 2px solid #101540;
  }

  .iconContainer {
    width: 60px;                  
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d4d0d0;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
  }

  .icon {
    font-size: 2rem;
    color: white;
  }

  .header {
    font-size: 1.6rem;
    margin-left: 0;
  }

  .CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

