input{
  width: 100%;
  max-width: 27.75rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: 2px solid #727374;
  box-sizing: border-box;
  margin-bottom: 2px;
  display: block;
}

@media (max-width: 480px) {
  input {
    max-width: 90%;           
    font-size: 0.75rem;
    padding: 0.4rem 0.75rem;
  }
}