.Time {
  font-size: 1.5rem;
  
  color: #101540;
  cursor: pointer;
  
}

.Date{
  font-size: 1.5rem;
  color: #101540;
}

.RightTopbar{
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.5rem;
}

.Righttopbar a.active{
  padding: 0;
  margin: 0;
}




@media (min-width: 300px) and (max-width: 900px) {

  .Time, .Date{
    display: none;
  }


}