.RightRectangle {
  width: 50vw;
  height: 100vh;
  background-color: #101540;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.InputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.icon {
  margin-top: 1rem;
  margin-left: 1rem;
  position: absolute;
  
  z-index: 99;
  color: #101540;
  font-size: 1.25rem;
  pointer-events: none; 
  transition: color 0.3s ease;
}

.LoginInput input{
  width: 24.75rem;
  border: 2px solid #101540;
  padding-left: 3.5rem;
  border-radius: 0.75rem;
}

.RightContent {
  text-align: center;
  padding: 2rem;
  color: white;
}

.RightContent p {

 margin: 0 auto;
  font-size: 2rem;
  color: white;
}

.SignUpContainer{
  margin-top: 4rem;
  z-index: 5;
}



.Line {
  flex: 1;
  height: 2px;
}

.LineContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}


.Left {
  background: linear-gradient(to right, transparent, black);
}

.Right {
  background: linear-gradient(to left, transparent, black);
}

.LoginContainer {
  width: 90%;
  max-width: 400px;
  padding: 4rem 2rem;
  margin-left: 20rem;
  margin-top: 0.5vw;
  align-self: center;
}
.Header{
  text-align: center;
  position: relative;
}

.attribute{
  text-decoration: none;
  display: inline-block;
  color: #101540;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}

/* .attributemobile{
  display: none;
}


.mobileattribute{
  display: none;
} */

.WelcomeHeader{
  color: #101540;
  font-size: 3em;  
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}



.Text {
  margin: 0 10px;
  font-size: 2rem;
  color: black;
  white-space: nowrap;
}

.Line {
  flex: 1;
  height: 2px;
}

.Left {
  background: linear-gradient(to right, transparent, black);
}

.Right {
  background: linear-gradient(to left, transparent, black);
}

.Credentials{
  color: #101540;
  font-size: 20px;
  text-align: center;
}

.LoginInput{
  display: flex;
  flex-direction: column;

}

.ForgotPassContainer a{
  display: none;
}

.attributemobile a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  
}

.mobileattribute{
   display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  
}

.mobileattribute a{
  color: #101540;
  padding: 0;
  margin: 0;
}

.mobileattribute a:hover{
  color: rgba(104, 22, 115, 0.413);
}

@media (min-width: 1024px) and (max-width: 1700px) {

  .RightRectangle{
    display: none;
  }

  .LoginBody{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    
  }
  .LoginContainer{
    margin: 0;
    padding: 0;
    max-width: 70vw;
    
  }

  .LoginInput{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputContainer{
    width: 100%;
  }

  .inputContainer input{
    width: 100%;
    max-width: 100vw;
  }


  .LoginInput button{
    max-width: 100%;
    width: 100%;
  }

  .LoginInput a{
    color: #101540;
    padding: 0;
    margin: 0;
  }

  .ForgotPassContainer button{
    max-width: 100%;
    width: 100vw;
    
  }
 
}


@media (min-width: 701px) and (max-width: 1023px){
  .RightRectangle{
    display: none;
  }

  .LoginBody{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    
  }
  .LoginContainer{
    margin: 0;
    padding: 0;
    max-width: 70vw;
    
  }

  .LoginInput{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputContainer{
    width: 100%;
  }

  .inputContainer input{
    width: 100%;
    max-width: 100vw;
  }


  .LoginInput button{
    max-width: 100%;
    width: 100%;
  }

  .LoginInput a{
    color: #101540;
    padding: 0;
    margin: 0;
  }

  .ForgotPassContainer{
    display: none;
  }

  

  .mobileattribute{
    display: flex;
    gap: 12rem;
    justify-content: space-between;
  }

}


@media (min-width: 300px) and (max-width: 700px) {


  .LoginInput{
    
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  .RightRectangle {
    display: none;
  }

  .RightContent{
    display: none;
  }

  

  .LoginInput{
    width: 100%;
    padding-bottom: 5rem;
    
  }

  .LoginInput input{
    max-width: 90%;   
    padding-left: 3.5rem;
    font-size: 1rem;
  }

  .LoginBody{
    margin: 0;
    padding: 0;
  }
 
  .LoginContainer {
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 100%;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow-y: hidden;
  }

  .EmailInput,
  .PassInput{
    max-width: 90%;           
    font-size: 0.75rem;
    padding: 0.4rem 0.75rem;
    margin-bottom: 0.5rem;
  }

  .ForgotPassContainer{
    display: none;
  }

  .LineContainer{
    display: none;
  }

 
  .WelcomeHeader {
    font-size: 2rem;
  }

  .LoginContainer{
    padding: 0;
    margin: 0;
  }

  .Credentials {
    font-size: 1.5rem;
  }

  .attributemobile{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    color:#101540;
  }
  .mobileattribute{
   display: flex;
  justify-content: space-between; /* pushes first link left, second link right */
  width: 90%;
  gap: 1rem;
  }

  .inputContainer{
    padding-left: 2rem;
    width: 100%;
  }

  
}





