.RightRectangle {
  width: 50vw;
  height: 100vh;
  background-color: #101540;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .RightRectangle {
    display: none;
  }
}

.RightContent {
  text-align: center;
  padding: 2rem;
  color: white;
}

.RightContent p {

  margin: rem 100;
  font-size: 1.5rem;
  color: white;
  font-size: 2rem;
}

.SignUpContainer{
  margin-top: 4rem;
  z-index: 5;
  
}

.Line {
  flex: 1;
  height: 2px;
}

.LineContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}

@media (max-width: 480px) {
  .LineContainer {
   display: none;
  }
}


.Left {
  background: linear-gradient(to right, transparent, black);
}

.Right {
  background: linear-gradient(to left, transparent, black);
}

.LoginContainer {
  width: 90%;
  max-width: 400px;
  padding: 4rem 2rem;
  margin-left: 20rem;
  margin-top: 0.5vw;
}

@media (max-width: 480px) {
  .LoginContainer {
   margin-left: 6vw;
   
  }
}

.Header{
  text-align: center;
  position: relative;
  margin-top: -40px;
}

@media (max-width: 480px) {
  .Header{
   margin-left: -3rem; 
  }
}

@media (max-width: 480px) {
  .attribute{
   display: none;
   
  }
}

.WelcomeHeader{
  color: #101540;
  font-size: 3em;  
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}



.Text {
  margin: 0 10px;
  font-size: 2rem;
  color: black;
  white-space: nowrap;
}

.Line {
  flex: 1;
  height: 2px;
}

.Left {
  background: linear-gradient(to right, transparent, black);
}

.Right {
  background: linear-gradient(to left, transparent, black);
}

.Credentials{
  color: #101540;
  font-size: 20px;
  text-align: center;
}

.LoginInput{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

@media (max-width: 480px) {
  .LoginInput {
   width: 23.5rem;
   margin-left: -2rem;
   margin-bottom: 2rem;
  }
}
