.WhiteLogo{
  transform: scale(1.5); 
  top: -5vw;
}

.Bluelogo{
  transform: scale(1); 
  transform-origin: center;
  position: relative;
  top: 50px;
}

.BlueLogo2{
  /* transform: scale(1.5); */ 
  width: 30rem;
  height: 30rem;
  padding: 0;
}

.SidebarLogo{
  transform: scale(0.5); 
  position: relative;
}

@media (max-width: 480px), (max-width: 600px) {
  .WhiteLogo{
    display: none;
  }

  
.BlueLogo2{
  margin: 0;
  padding: 0;
}

}

/* Small screens: phones */
@media (max-width: 480px) {
  .Bluelogo {
    transform: scale(0.8);
    top: 30px;
  }
}

/* Medium screens: tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .Bluelogo {
    transform: scale(0.9);
    top: 40px;
  }
}

/* Large screens: desktops */
@media (min-width: 769px) {
  .Bluelogo {
    transform: scale(1);
    top: 50px;
  }
}