.WhiteLogo{
  transform: scale(1.5); 
  top: -5vw;
}

.Bluelogo{
  transform: scale(1); 
  transform-origin: center;
  position: relative;
  top: 50px;
}

.BlueLogo2{
  /* transform: scale(1.5); */ 
  width: 25rem;
  height: 25rem;
  padding: 0;
  padding-bottom: 6rem;
}

.SidebarLogo{
  transform: scale(0.5); 
  position: relative;
}



@media (min-width: 300px) and (max-width: 700px) {
  .WhiteLogo {
    display: none;
  }

  .Bluelogo {
    transform: scale(0.7);
    top: 20px;
  }

  .BlueLogo2 {
    width: 17rem;
    height: 17rem;
    padding: 0;
    margin: 0 auto;
  }

  .SidebarLogo {
    transform: scale(0.4);
  }
}


@media (min-width: 701px) and (max-width: 1024px) {
  .WhiteLogo {
    transform: scale(1.2);
    top: -3vw;
  }

  .Bluelogo {
    transform: scale(0.85);
    
  }

  .BlueLogo2 {
    width: 38rem;
    height: 38rem;
    padding-bottom: 1rem;
  }

  .SidebarLogo {
    transform: scale(0.45);
  }
}


