h3{
font-size: 3rem;
display: flex;
color: #101540;
}

.CheckboxContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0.75rem;
  margin: 1.5rem 0;
  padding: 1rem;
  background: white;
  border: 2px solid #ddd;
  border-radius: 0.5rem;

}

.CheckboxContainer div {
  display: flex;
  align-items: center;
}

.CheckboxContainer label {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  cursor: pointer;
  width: 100%;
  height: 50px; 
  white-space: nowrap; 
  font-size: 2rem;
}

.CheckboxContainer input[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
  accent-color: #101540;
}

.MainContainer{
  display: flex;
  gap: 1rem;
}

.FilterContainer label{
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  margin-right: 1rem;
}

.FilterContainer select{
    width: 200px;
    height: 1.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #101540;
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0 1rem;
   }

.FilterContainer select:focus{
  outline-color: none;
  box-shadow: none;   
}

.switch {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  user-select: none;
  font-size: 1.4rem;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 50px;
  height: 26px;
  background: #ccc;
  border-radius: 30px;
  transition: background 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.switch input:checked + .slider {
  background: #101540; 
}

.switch input:checked + .slider::before {
  transform: translateX(24px);
}
