body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; 
}

.body {
  display: flex;
  height: 100vh;
  overflow: hidden; 
}

.curvedRectangle {
  width: 50vw;
  height: 100vh; 
  background-color: #0d1046;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagline {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: white;
  line-height: 1.6;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 400;
  margin-top: 4rem;
}

@media (min-width: 820px) and (max-width: 1024px) {
  .curvedRectangle {
    display: none;
  }
}


@media (max-width: 768px) {
  .curvedRectangle {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .tagline {
    font-size: 0.9rem;
  }
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  height: 100vh;
  justify-content: start;
  margin-top: 15vh;
}

.title {
  font-size: 2.3rem;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #101540;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #101540;
  margin-bottom: 1rem;
  font-family: 'Montserrat';
}

@media (max-width: 800px){
  .curvedRectangle{
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 480px) {

  .container {
  width: 100rem;
  max-width: 100%;
  
}

  .body {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-left: 1vw;
  }


  .tagline {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    max-width: 90%;
    line-height: 1.4;
  }

  .container {
    width: 80%;
    height: 100%;
    margin: 2rem;
    padding: 0;
    
    padding-top: 17vh;
  }

  .InputEmailReset{
    width: 100%;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }

  .subtitle {
    font-size: 0.95rem;
    margin-bottom: 0.75rem;
  }
} 

