.InputContainer input{
    border-radius: 0.75rem;
    border: 2px solid #101540;
    margin-bottom: 1rem;
    height: 3rem;
}

.ButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.InputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

