
.tableWrapper {
  background: #f5f5f5;
  padding: 1rem;
  padding-top: 1rem;
  border-radius: 1rem;
}

.tableContainer {
  background: white;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;
  white-space: nowrap;
  
}

thead {
  background-color: #f3f4f6;
  border: 1px solid black;
  color: #101540;
}


th{
 
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
}

td {
  text-align: center;
  padding: 0;
  padding-bottom: 0.5rem;
  border: 1px solid black;
}

tr:hover {
  background-color: #f9fafb;
}

.tableButton {
  padding: 2px 6px;
  font-size: 0.85rem;
  height: 100%;      
  cursor: pointer;
  box-sizing: border-box;
}

.PageCount{  
  line-height: normal;
  font-size: 1.5rem;
  color: #101540;
  
}

.PaginationControls{  
  display: flex;
  flex-direction: row;
}

.viewButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.SelectRow{
  width: 20px;
  height: 20px;
  text-align: center;
  justify-self: center;
}

.viewButton{
  border: none;
  text-decoration: underline;
  letter-spacing: 0.1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #101540;
  font-size: 1rem;
}

.viewButton:hover{
  color: rgb(7, 23, 29);
}

.ReturnedBooksContainer,
.BorrowedBooksContainer,
.ServicesAvailedContainer{
  width: 82vw;
}

.ServicesAvailedContainer table{
  table-layout: fixed;
  border-collapse: collapse;
}

.ReturnedBooksContainer table{
  table-layout: fixed;
  border-collapse: collapse;
}

.BorrowedBooksContainer table{
  table-layout: fixed;
  border-collapse: collapse;
}

.ReturnedTable,
.BorrowedTable,
.ServicesTable{
  width: 100%;    /* overrides the wrapper width */
  margin: 0 auto;
  margin-top: 2.5rem;
}



@media (min-width: 300px) and (max-width: 900px) {

  .ServicesAvailedContainer{
    padding: 0;
    margin: 0;
  }

  .tableWrapper{
    padding: 0;
    margin: 0;
    background-color: red;
  }

  table thead {
    display: none;
  }

  table,
  tbody,
  tr,
  td {
    display: block;
    width: 97%;
    
  }

  tr {
    background: white;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #02010c96;
    padding: 0.5rem;
  }

  td {
    border: none;
    text-align: left;
    padding: 0.3rem 0;
    font-size: 1rem;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center; /* vertically center label and text */
    justify-content: flex-start; /* align everything to the left */
    gap: 0.5rem; /* small space between label and value */
  }

  td::before {
    content: attr(data-label) ": ";
    font-weight: bold;
    text-transform: uppercase;
    color: #101540;
    font-size: 0.85rem;
    display: inline-block;
  }

  td:last-child {
    border-bottom: none;
  }

  .ReturnedBooksContainer,
  .BorrowedBooksContainer,
  .ServicesAvailedContainer {
    width: 100vw;
    padding: 0.5rem;
  }
}



