.ChartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* fixed height */
  overflow: hidden; /* hide overflow if text grows */
}


.Sidebar{
  background-color: #101540;
  position: fixed;
  width: 7rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 1;
}

.ChartContainer p{
  color: #101540;
  font-size: 3rem;
  line-height: 2rem;

}

/* a{
  text-decoration: none;
  color: white;
  padding: 2rem 2rem 2rem 2.5rem;
  display: block;
} */

/* a:hover{
  cursor: pointer;
  color: lightblue;
  transition: 0.5s;
} */

.NavBar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin-left: 6rem; 
  background-color: #f8f9fa;
  height: 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.userIcon {
  color: #101540;
  margin-top: 0.8rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  font-weight: bold;
  font-size: 1rem;
  color: #101540;
  
}

.role {
  font-size: 0.85rem;
  color: #101540;
}

.Topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1rem 2rem;
}

/* Left side */
.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.LeftTopbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.Contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.username {
  font-size: 0.95rem;
  font-weight: 600;
}

.role {
  font-size: 0.8rem;
  color: #101540;
}

.iconLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.samplelang{
  margin-bottom: 1rem;
  width: 70%;
}


 .iconHeaderContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;              
} 

.BlogoGalaw{
  margin-left: 5vw;
}

.LogoUser{
  width: 13rem;
  margin-left: 1rem;
}

.paragraphContainer{
  justify-content: center;
  float: center;
  width: fit-content;
  text-align: center;
  margin-left: 10rem;
  margin-top: -30vh;
}

footer{
  text-align: right;
  font-size: 1.5rem;
}

.DesignRectangle {
  position: fixed;
  bottom: 0;       
  right: 0;        
  width: 5vw;     
  height: 65vh;    
  background-color: #101540; 
  border-radius: 0.5rem 0 0 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
}

.VerticalManila {
  writing-mode: vertical-rl;
  transform: rotate(360deg); 
  color: white;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  font-weight: bold;
}

.VerticalLibrary{
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  font-size: 2rem;
  letter-spacing: 1.2rem;
  color: white;
  line-height: 2rem;
  margin-top: -2vh;
}

.CircleIcon {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.CommentMedical{
  font-size: 2rem;
}

.AcquireContainer{
    margin-left: 60vw;
}

.Header{
    position: fixed;
    font-size: 2.5rem;
    line-height: 2.9rem;
    color: #101540;
}

/* mga inaayos */

.RightTopbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -2vh;
}

.TimeGear {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dateText {
  font-size: 0.8rem;
  color: #101540;
}

.Date{
  margin-top: -5vh;
}

.timeText {
  font-size: 0.95rem;
  font-weight: 500;
}

.GearIcon {
  color: #101540;
  cursor: pointer;
  margin-right: -25vw;
  margin-bottom: 1vh;
}

.Time {
  font-size: 0.95rem;
  font-weight: 500;
  color: #101540;
  cursor: pointer;
  margin-right: -2vw;
  margin-bottom: 2vh;
}

.Paragraph{
    text-align: center;
    margin-top: 10rem;
    font-size: 3rem;
    color: #101540;
}

@media (min-width: 701px) and (max-width: 1024px){

  .iconHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;    
  padding: 0;
  margin: 0 auto;        
  margin-top: 2rem;
}



  .samplelang {
    display: flex;
    width: fit-content;
    max-width: 100vw;
    height: auto;             
    margin-top: 1rem;
    
    
  }

  .ChartContainer{
    display: flex;
    
    width: 100vw;
    height: 20vh;
  }

  .ChartContainer p{
    margin: 0;
    padding: 0;
  }


  

}

@media (min-width: 300px) and (max-width: 700px){
 .iconHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;    
  margin: 0 auto;        
}


  .samplelang {
    display: flex;
    width: fit-content;
    max-width: 100vw;
    height: auto;             
    margin-top: 1rem;

    
  }

  .ChartContainer{
    display: flex;
    width: 100vw;
  }

  .ChartContainer p{
    margin: 0;
    
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5rem;
    max-width: 380px;
  
  }
}
