.SelectDiv{
    display: flex;
    flex-direction: row;
}

.InputDiv{
    display: flex;
}

.InputDiv input{
    border-radius: 0.75rem;
    border: 2px solid #101540;
    margin-bottom: 1rem;
    height: 3rem;
}

.InputDiv input:focus{
    border: 2px solid #101540;
    outline: #101540;
}

.InputDiv select{
    width: 8rem;
    height: 1.5rem;
    border: none;
}

.InputDiv select:focus{
    outline: none;
    border: none;
}

.InputDiv select:hover{
    border-bottom: 1px solid #101540;
    
}

.PageCount{  
  line-height: normal;
  font-size: 1.5rem;
  color: #101540;
  
}