.ulstyling {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.ulstyling li {
  margin-bottom: 2rem;
}

.NavBar {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin-left: 6rem;
  background-color: #f8f9fa;
  height: 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.userIcon {
  color: #101540;
  margin-top: 0.8rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.LeftTopbar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.ChogogImage {
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  border: 2px;
  border-style: solid;
  border: 1px solid rgba(0, 0, 0, 0.500);
}

.iconLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0;
  padding-left: 1rem;
}

.MainRender {
  padding-left: 10rem;
  padding-top: 4rem;
}


.DesignRectangle {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5vw;
  height: 65vh;
  background-color: #101540;
  border-radius: 0.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
}

.VerticalManila {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  color: white;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  font-weight: bold;
}

.VerticalLibrary {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  font-size: 2rem;
  letter-spacing: 1rem;
  color: white;
  line-height: 2rem;
  margin-top: -4vh;
}

.CircleIcon {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.RenderComponents {
  height: calc(100vh - 4rem); 
  overflow-y: auto;
  padding: 1rem;
  scrollbar-width: none;  
  -ms-overflow-style: none;
}

.RenderComponents::-webkit-scrollbar {
  display: none;
}

.RightTopbar {
  
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
  margin-right: 0.5rem;
}

.RightTopbar a{
  padding: 0;
}

.TimeGear {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
}

.UserName {
  font-size: 1.8rem;
  color: #101540;
  line-height: 2rem;
}

.UserRole {
  font-size: 1.5rem;
  line-height: 1rem;
  color: #101540;
}

.GearIcon {
  color: #101540;
  cursor: pointer;
  margin-top: 0.5rem; 
}

/* Sidebar Stuffs */
.Sidebar {
  background-color: #101540;
  position: fixed;
  width: 7rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 100; 
  transition: transform 0.3s ease;
}

.ToggleButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: #101540;
  border: none;
  cursor: pointer;
  z-index: 200;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.hidden {
  transform: translateX(-100%);
}

.Sidebar.open {
    transform: translateX(0);
  }

@media(min-width: 701px) and (max-width: 1024px){
  .MainRender{
    margin: 0;
    padding: 0;
  }

  .DesignRectangle{
    display: none;
  }

  .RenderComponents{
    margin: 0;
    padding: 0;
  }

  .WSidebar{
    display: none;
  }
  
  .Sidebar span{
    display: none;
    
  }

  
  
  
}
  
@media (min-width: 300px) and (max-width: 700px) {
  .Sidebar {
    transform: translateX(-100%);
    position: absolute; 
    margin-left: 0;
  }

  .MainRender{
    margin: 0;
    padding: 0;
  }

  .DesignRectangle{
    width: 5rem;
    gap: 2rem;
  }
  .WSidebar{
    display: none;
  }

 .UserName, .UserRole{
  font-size: 1.5rem;
 }

 .LeftTopbar{
  display: flex;
  white-space: nowrap;
  word-break: break-all;
  

 }

 .iconLink{
  margin-top: 0.5rem;
 }
 
 .NavBar{
  display: flex;
  flex-direction: flex-start;
  padding: 0;
  margin: 0;
  padding-left: 3.5rem;
 }


  .Time{
    margin: 0;
    padding: 0;
   
  }
  
  .TimeGear{
  
    font-size: 1rem;
    padding: 0;
    margin: 0;
    word-break: break-all;
    white-space: nowrap;
  }

  .DesignRectangle{
    display: none;
  }

  .RenderComponents{
    padding: 0;
    margin: 0;
  }

  

 
}


  
